[Unit]
Description=EtherJack Service

[Service]
WorkingDirectory=/usr/local/EtherJack
ExecStart=/usr/local/EtherJack/EtherJack.sh

[Install]
WantedBy=multi-user.target
